<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="learningframework">
        <classes>
            <class name="functionalSuite.signUp">
                <methods>
                    <include name=".*"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>